.container-fluid {
    width: 80%;
}
.rounded {
    border: 1px solid white;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.padded {
    padding: 5%;
}
.form-control{
    margin: 1%;
}

h3, label {
    color: whitesmoke;
}

hr {
    border-top: 1px solid whitesmoke;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(132, 253, 147);
}